{% extends "layout.html" %}

{% block title %}
    Areas
{% endblock %}

{% block main %}
    <form action="/areas" method="post">
        <div class="mb-3">
            Enter the name of the skin area where you want to apply the creme  
            <input autofocus class="form-control mx-auto w-auto" id="area" name="area" placeholder="area (required)" type="text">
        </div>
        <div class="mb-3">
            Which cream do you apply on this area?
            <select name="cream", id="cream" class="form-control mx-auto w-auto">
                <option disabled selected>Cream</option>
            {% for cream in creams %}
                <option value="{{ cream[0] }}">{{ cream[0] }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            How often do you want to apply the cream?
            <select name="scheduall", id="scheduall" class="form-control mx-auto w-auto">
            {% for setting in scheduall %}
                <option value="{{ setting[0] }}">{{ setting[1] }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            On which day? (Only required for once a week)
            <select name="day", id="day" class="form-control mx-auto w-auto">
                <option value=1>Monday</option>
                <option value=2>Tuesday</option>
                <option value=3>Wednesday</option>
                <option value=4>Thursday</option>
                <option value=5>Friday</option>
                <option value=6>Saturday</option>
                <option value=7>Sunday</option>
            </select>
        </div>
        <p style="font-size: 10px; color: darkgrey;">(You can can change the scheduall by entering the area and cream name again with a different scheduall)</p>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <br>


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">area</th>
                <th scope="col">cream</th>
                <th scope="col">scheduall</th>
                <th scope="col">day</th>
                <th scope="col">DELETE</th>
            </tr>
        </thead>
        <tbody>
            {%set weekdays = ['','Monday', 'Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'] %}
            {% for area in areas %}
                <tr>
                    <td>{{ area[0] }}</td>
                    <td>{{ area[1] }}</td>
                    <td>{{ area[2] }}</td>
                    <td>{{ weekdays[area[3]] }}</td>
                    <td>
                        <form action="/areas" method="post">
                            <button class="btn btn-primary" name="delete" type="submit" style="width:40px" value= "{{ area }}">x</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}